body 
{
     background-color: #FCEBB6;
     font-family: Arial, Helvetica, sans-serif;
     background-image:url("background.gif");
}

header
{
    background-color: #D2B48C;
    height: 150px;
    background-image:url("javajamlogo.jpg");
    background-repeat: no-repeat;
}

h1
{
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

a:link 
{
    text-decoration: none;
}

nav
{
    text-align: center;
    font-weight: bold;
}

main
{
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display:block;
}

.details
{
    padding-left: 20%;
    padding-right:20%;
}

img
{
    padding-left: 10px;
    padding-right:10px;
}

h4
{
    background-color: #D2B48C;
    font-size:1.2em;
    padding-left: .5em;
    padding-bottom: .25em;
}

footer
{
    background-color: #D2B48C;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top-style: solid;
    border-top:2px;
    border-color: #221811;
}

dt
{
    font-weight:bold;
    margin: 1px;
}

#wrapper
{
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    background-color: #FEF6C2;
    max-width: 900px;
    max-height: 1280px;
    box-shadow: 3px 3px grey;
}