/*Style sheet in the grid layout */
/*aside, main, footer */

/*-----------PAGE LAYOUT-------------*/
#wrapper{
    display: grid;
    grid-template-rows: 1/7fr 1fr 1fr 1fr 2fr 2fr; 
    grid-template-columns: 1fr 0.02fr 1fr 1fr 2fr 2fr;
    grid-template-areas: 
    'header header header header header header'
    'back back back back back back'
    'back back back back back back'
    'aside main main main main main'
    'aside main main main main main'
    'foot foot foot foot foot foot';

   

}

body{
    background-color: black;
}

/*------------Image Background ------------*/
.background{
    grid-area: back;
    background-image: url(home.jpg);
    background-size: 100% 100%;
    height: 500px;
    border: black;
    border-style: solid;
    border-width: 10px;
}

.chapter1_background{
    grid-area: back;
    background-image: url(fort.jpg);
    background-size: 100% 100%;
    height: 500px;
    border: black;
    border-style: solid;
    border-width: 10px;

}

.ch2background
{
    grid-area: back;
    background-image: url(ch2.png);
    background-size: 100% 100%;
    height: 500px;
    border: black;
    border-style: solid;
}

.back
{
    grid-area: back;
    background-image: url(ch3.jpg);
    background-size: 100% 100%;
    height: 500px;
    border: black;
    border-style: solid;
}

/*-------------header-----------*/
header
{
    grid-area: header;
    background-color: white;
    text-align: center;
    padding-right: 100px;

}

/*----------Navigation Links------------*/
a:link{color:aqua}
a:link {text-decoration: none;}
a:visited{color:#77b7ffe0;}
a:hover{color:rgb(138, 138, 253);}

/*-----------------aside----------------*/
aside
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    grid-area: aside;
    text-align: center;
    font-weight: lighter;
    padding-right: 5px;
    padding-left: 5px;
}



/*---------Paragraph--------*/
.p
{
    font-size: 10px; 
    font-style:italic;
    font-weight: lighter;
    grid-area: p;
}


/*--------------Main function------------*/
main
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: main; 
    padding-left:15px;
    padding-right: 15px;
    border: black;
    border-style: solid;
    border-width: 10px;
    background-image:url(grey.png);
}



/*----h5---*/
h5 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

p{font-family: 'Times New Roman', Times, serif;}

/*-----------Footer------------*/
footer
{
    grid-area: foot;
    background-color: black;
    color:white;
    padding-left: 35px;
    font-style:italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
.Info h2 {padding-left: 3px;}
.Info
{
    background-color: grey;
    border: black 2px 2px 2px 2px;
    border-style: solid;
    text-align: center;
    border-radius: 10px;
    list-style-type: none;
}

.Info a:link {color: black;}
.Info a:hover {color: lightskyblue;}


.left
{
    grid-area: side;
    background-color: black;

}

/*-----------table Css------------*/
table
{
    float:right;
    width: 50px;
    background-color: lightgray;
    margin: 5px;
    color: black;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

td, th
{
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 15px;
    border-bottom: black 2px;
    border-style: solid;
}

.headings
{
    text-align: center;
}

dd{
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

dl
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

/* Chapter 3 content */
.features
{

    background-color:#ffcc33;
    padding: 3px;
    border-style:solid;
    border:black 2px 2px 2px 2px;
}

.weapons
{
    padding: 3px;
    border-style:solid;
    border:red 2px 2px 2px;
}

/*---------------Image Effects----------------*/
figure
{
    overflow: hidden;
    margin: 0 10px;
    float:right;
}

.image img{
    display:block;
    cursor: pointer;
    height:fit-content;
}

.image #zoom-In img
{
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.image #zoom-In:hover img {transform: scale(1.3);}

/*-------------Hamburger-----------*/
.info
{
    background-color: lightgrey;
    border-style:solid;
    border:black 2px 2px 2px 2px;
    padding: 2px;
    text-align: center;
}

#sidebar
{
    position: absolute;
    width: 250px;
    height: 90%;
    background:#000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: -250px;
}

#sidebar ul li
{
    color: #fff;
    font-size: 20px;
    text-align: center;
    list-style: none;
}

#sidebar ol li
{
    color: white;
    font-size: 15px;
    text-align: center;
    list-style-type: none;
}

#sidebar .toggle-btn{
    position: absolute;
    left:270px;
    top: 10px;
    transition: 1.9s;

}

#sidebar.active { left: 0;}

#sidebar h3{color: #fff; text-align: center; padding-left: 29px;}

.toggle-btn span
{
    width: 45px;
    height: 4px;
    background: black;
    display: block;
    margin-top: 4px;
}

/*---------------------Mobile Query----------------------*/
@media screen and (min-width:300px) and (max-width: 825px)
{
    #wrapper
    {
        display: grid;
        grid-template-rows: 1fr 2fr 2fr 3fr 1/9fr;
        grid-template-columns:1fr;
        grid-template-areas: 
        'header'
        'back '
        'main'
        'aside'
        'foot';

        max-width: 825px;
        min-width: 300px;
    }

    body
    {
        background-color: darkgray;
    }


    header
    {
        text-align-last: right;
        padding-right: 15px;
    }

    table
    {
        align-content:center;
        padding-bottom: 5px;
    }

    aside
    {
        display: flex;
    }
    
    aside h3 {text-align: center;}

    aside > div{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        background-color: black;
        margin: 10px;
        padding: 20px;
    }
    #sidebar .toggle-btn{
        left: 270px;
    }
    #sidebar
    {
        width: 220px;
        left: -220px;
        height: 100%;
    }

    .back{
        height: 300px;
    }

    .background{
        height: 300px;
    }
}


/*---------------Forms-----------------*/
input[type=text], 
select 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type = email]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type = phone]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

textarea
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type = submit]
{
    background-color: lightslategrey;
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkgray;
  }

form
{
    align-content: center;
    padding-bottom: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: darkgrey 3px 3px 3px 3px;
}
/*-------Privacy page-----------*/
.privacy a:link {color: blue;}
.privacy a:hover{color: darkblue;}