/*Style sheet in the grid layout */
/*aside, main, footer */

#wrapper{
    display: grid;
    grid-template-rows: 1/5fr 1fr 1fr 1fr 2fr 2fr; 
    grid-template-columns: 1fr 0.02fr 1fr 1fr 2fr 2fr;
    grid-template-areas: 
    'header header header header header header'
    'nav nav back back back back'
    'nav nav back back back back'
    'aside main main main main main'
    'aside main main main main main'
    'foot foot foot foot foot foot';
}

.background{
    grid-area: back;
    background-image: url(fort.jpg);
    background-size: 100% 100%;
    height: 500px;
    border-right: black;
    border-style: solid;
    border-width: 10px;
}

header
{
    grid-area: header;
    background-color: black;
}

nav
{
    grid-area: nav;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
}

a:link {text-decoration: none;}
a:hover{color:lightcyan;}
a:visted{color:#6CABF4;}

aside
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    grid-area: aside;
    text-align: center;
    font-weight: lighter;

}

main
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: main; 
    padding-left:15px;
    padding-right: 15px;
    border-top: black;
    border-style: solid;
    border-width: 10px;
}

.p
{
    font-size: 10px; 
    font-style:italic;
    font-weight: lighter;
}

h5 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

p
{
    font-family: 'Times New Roman', Times, serif;
}


footer
{
    grid-area: foot;
    background-color: black;
    color:white;
    padding-left: 35px;
    font-style:italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

.left{
    grid-area: side;
    background-color: black;

}

table
{
    float:right;
    width: 50px;
    border-spacing: 0px;
    margin-right:70px;
    margin-top: 3px;
    color: black;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

td, th
{
    padding-left: 10px;
    padding-right: 30px;
    border:black;
    border-style: solid;
    border-width: 2px;
    padding-top: 15px;
}

.headings
{
    text-align: center;
}

dd{
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

dl
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.features
{

    background-color:#ffcc33;
    padding: 3px;
    border-style:solid;
    border:black 2px 2px 2px 2px;
}

.weapons
{
    padding: 3px;
    border-style:solid;
    border:red 2px 2px 2px;
}


figure
{
    overflow: hidden;
    margin: 0 10px;
    float:right;
}

.image img{
    display:block;
    cursor: pointer;
    height:fit-content;
}

.image #zoom-In img
{
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.image #zoom-In:hover img
{
    transform: scale(1.3);
}

.sub
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-style: italic;

}

.info
{
    background-color: lightgrey;
    border-style:solid;
    border:black 2px 2px 2px 2px;
    padding: 2px;
    text-align: center;
}

a:link{text-decoration: none;}