body
{
    background-color: #FCEBB6;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    background-color: #D2B48C;
    text-align: center;
    line-height: 200%;
}

nav
{
    text-align: center;
    font-weight: bold; 
}

dl
{
  text-align: left;
  font: bold;
  
}

dd
{
  font-weight: lighter;
  text-align: left;
}


footer
{
    background-color: #D2B48C;
    font-size: 0.60em;
    font-style: italic;
    text-align: center;
}
