/*---------text-----------*/
input[type = text]
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px; 
}

/*------password----------*/
input[type = password]
{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

/*-----------email-----------*/
input[type = email]
{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

/*-------------Create Account button----------*/
input[type = submit] {
    background-color: rgb(34, 134, 235);
    width: 70%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
}

input[type = submit]:hover {background-color:skyblue;}

/*----------------form----------------*/
#wrapper
{
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 15% 40% 45%;
    grid-template-areas:
    ". login ."
    ". login ."
    ". login .";
}
.account
{
    grid-area: login;
    border:black;
    border-style:solid;
    border-radius: 10px;
    text-align:center;
    background-color:white;
    width: 1000px;
}
h2 {text-align:center; font-family:sans-serif;}

/*-----Sign up Button--------------*/
.create_account
{
    text-align: center;
}
.create_account button
{
    background-color: lightslategrey;
    color: white;
    max-width: 70%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create_account button:hover {background-color:darkgrey;}
input[type = text], label{font-family:sans-serif;}

/*----background----------*/
body{
    background-color:grey;
}

/*-----------Create Account button-----------------*/
.login_button
{
    text-align:center;
}
.login_button button{
    background-color: rgb(34, 134, 235);
    width: 70%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
}

.login_button button:hover{background-color:skyblue;}

label{
padding-right: 25px;
}

